* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


 
footer { 
    background: black;
    color: white;
    text-align: center;
    height: 50 px;
    line-height:50 px;
}

header { 
    color: blue;
    background-color: white
}

h1 {
    font-family: Arial, sans-serif;
    list-style-type: circle;
    text-align:center;   
    background: rgba(0, 0, 255, 0.233);
}

blockquote { 
    color: white;
    text-align:center;
    background-color: blue;
}

nav {
    height:30px;
    border-bottom: 1px solid black;
    background: rgba(173, 216, 230, 0.63)    
}

nav ul li{
    float:left;
    list-style: none;
    margin: 8px;
    line-height: 10px;
}


body{
    background:url(../images/azul.jpg);
    background-size: cover;
  }

.box {
    width: 500px;
    background: rgba(245, 235, 235, 0.404);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 15px;
    /*box-shadow: 7px 13px 37px black;*/
  }

  .box-img{
      border-radius: 50%;
  }

  .box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
  }

  .box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px
  }

  .box p {
    text-align: justify;
  }

  .box ul {
    margin-top: 20px;
    list-style: none;
  }

  .box ul li {
    display: inline-block;
  }

  .box ul li a {
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    transition: all 0.5s ease-in-out;
    display: block;
  }
  
  .box ul li a:hover {
    color:#b9b9b9;
    transform: scale(1.1);
  }

